$color-1: #c83f51;
$color-2: #d4b794;
$color-3: #be860e;
$color-4: #55788d;
$color-5: #c82d2d;

$color-text: #1b1b1b;
$color-text-light: #939393;

$color-gray: #ece9e9;
$color-gray-light: #f2f2f2;
$color-gray-dark: #c6c6c6;

$color-red: #dc3545;
$color-green: #3d9f42;
$color-blue: #004C98;


$font-1: "Roboto", sans-serif;

$color-dark-blue: #32289B;
$color-white: #ffffff;
$color-violet: #4C32D0;
$color-crimson: #EC336B;

$color-text-black: #261A40;

$screen-nano: 300px;
$screen-xs: 480px;
$screen-600: 560px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1240px;
$screen-1400: 1400px;
$screen-1500: 1500px;
$screen-1600: 1600px;
$screen-1920: 1500px